<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
    ... >

    <!-- Your existing MainActivity -->
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <!-- Remove the intent-filter from here if you want MenuDemoActivity to launch first -->
    </activity>

    <!-- Our New Menu Demo Activity -->
    <activity
        android:name=".MenuDemoActivity"
        android:exported="true">
        <!-- Add this intent-filter to make this the startup activity -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

</application>

    </manifest>
